:root {
    --cinza-principal: #E7DFDF;
    --cinza-secundario: #D9D9D9;
    --fonte-principal: 'Inconsolata';
}

* {
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--cinza-secundario);
    height: 50px;
}

.container{
    justify-content: center;
    background-color: var(--cinza-principal);
    height: 500px;
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    flex-direction: column;
    margin-right: 90px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content:center;

    
}


.principal{
    background-color: white;
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    

}

.cont{
    display: flex;
    align-items: center;
    justify-content:center;

}

.registros{
    margin-top: 8px;
}

button{
    background-color: #0B2FAB;
    color: white;
    border-radius: 6px;
    height: 35px;
    width: 150px;
    margin-top: 10px;
}
